* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "openSans";
}
html{
    color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
b,
em,
i {
  font-style: normal;
}
a {
  display: block;
  text-decoration: none;
  outline: 0;
  transition: all 0.2s;
  color: #fff;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover,a:active{
    filter: brightness(1.2);
    text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: 0;
  background: transparent;
  border: none;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
td,
th,
ul {
  padding: 0;
}
dl,
ol,
ul {
  list-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.is-center {
  text-align: center;
}

.is-left {
  text-align: left;
}

.is-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}
body,html{
    height: 100%;
    min-height: 1px;
}
@font-face {
  font-family: "openSans_bold";
  src: url("../static/openSans-ExtraBold.ttf");
}
@font-face {
  font-family: "openSans";
  src: url("../static/openSans-Regular.ttf");
}
.icon_gold{
    display: block;
    width: 0.466rem;
    height: 0.466rem;
    background: url(../images/icon_gold.png) no-repeat center;
    background-size: cover;
}

.toast{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    text-align: center;
    line-height: 1.76rem;
    font-size: .4rem;
    height: 1.76rem;
    width: 8.97333333rem;
    background: url(../images/toast.png) no-repeat center;
    background-size: cover;
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0))
}